<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.tianhe267742" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
<name>天合婚恋</name>
<description>
上海真实婚恋交友平台
</description>
<author email="hi@ionicframework" href="http://ionicframework.com/">
天合婚恋开发组
</author>
<content src="index.html"/>
<access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="SplashScreenDelay" value="10000" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="ShowSplashScreenSpinner" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>